<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CruscottoIncidenti</title>
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
    

</head>
<body>
    @Html.Partial("~/Views/Shared/_Modals.cshtml")
    @Html.Partial("~/Views/Shared/_topbar.cshtml")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div> *@


    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    //ForDataTablesFieldsAndOthers
    var localizations = {
        //UserDataTable
        "userName": "@Localization.Username",
        "email": "@Localization.Email",
        "isEnabled": "@Localization.IsEnabled",
        //IncidentDataTable
        "requestNr": "@Localization.RequestNr",
        "subsystem": "@Localization.Subsystem",
        "openDate": "@Localization.OpenDate",
        "closeDate": "@Localization.CloseDate",
        "type": "@Localization.Type",
        "urgency": "@Localization.Urgency",
        //DataTableFields
        "processing": "@Localization.Processing",
        "search": "@Localization.Search",
        "info": "@Localization.Info",
        "lengthMenu": "@Localization.LengthMenu",
        "infoEmpty": "@Localization.InfoEmpty",
        // "lengthMenu": "@Localization.InfoFiltered",
        "loadingRecords": "@Localization.LoadingRecords",
        "zeroRecords": "@Localization.ZeroRecords",
        "emptyTable": "@Localization.EmptyTable",
        "first": "@Localization.First",
        "previous": "@Localization.Previous",
        "next": "@Localization.Next",
        "last": "@Localization.Last",
        //toastr
        "success": "@Localization.Success",
        "error": "@Localization.Error",
        "delete": "@Localization.Delete",
    };
</script>