@using Application.DTO
@model UpsertIncidentDto

<form asp-action="Edit" asp-controller="Incident" method="post" id="SaveIncidentForm">
    <input hidden asp-for="Id" />
    <input hidden asp-for="RequestNr" />
    <input hidden asp-for="OpenDate" />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">Edit Incident</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">RequestNr</label>
                        <input type="text" asp-for="RequestNr" class="form-control" readonly disabled />
                        <span asp-validation-for="RequestNr" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Subsystem</label>
                        <input type="text" asp-for="Subsystem" class="form-control" />
                        <span asp-validation-for="Subsystem" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">OpenDate</label>
                        <input type="date" asp-for="OpenDate" class="form-control" readonly disabled />
                        <span asp-validation-for="OpenDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">CloseDate</label>
                        <input type="date" asp-for="CloseDate" class="form-control" />
                        <span asp-validation-for="CloseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Type</label>
                        <input type="text" asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">ApplicationType</label>
                        <input type="text" asp-for="ApplicationType" class="form-control" />
                        <span asp-validation-for="ApplicationType" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Urgency</label>
                        <input type="text" asp-for="Urgency" class="form-control" />
                        <span asp-validation-for="Urgency" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">SubCause</label>
                        <input type="text" asp-for="SubCause" class="form-control" />
                        <span asp-validation-for="SubCause" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Problem Summary</label>
                        <textarea id="ProblemSummary" rows="5" class="form-control" style="resize: none;" asp-for="@Model.ProblemSummary"></textarea>
                        <span asp-validation-for="ProblemSummary" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Solution</label>
                        <textarea id="ProblemSummary" rows="5" class="form-control" style="resize: none;" asp-for="@Model.Solution"></textarea>
                        <span asp-validation-for="Solution" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="ProblemSummary" class="col-md-4 col-form-label">ProblemDescription</label>
                        <textarea id="ProblemSummary" rows="3" class="form-control" style="resize: none;" asp-for="@Model.ProblemDescription"></textarea>
                        <span asp-validation-for="ProblemDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Origin</label>
                        @Html.DropDownListFor(model => model.OriginId, new SelectList(ViewBag.Origins, "Value", "Text")/* , "Choose...", */, new { @class = "form-control selectpicker", @title = "Choose..." })
                        <span asp-validation-for="OriginId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Ambit</label>
                        @Html.DropDownListFor(model => model.AmbitId, new SelectList(ViewBag.Ambits, "Value", "Text"), new { @class = "form-control selectpicker", @id = "AmbitId", @title = "Choose..." })
                        <span asp-validation-for="AmbitId" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Incident Type</label>
                        @Html.DropDownListFor(model => model.IncidentTypeId, new SelectList(ViewBag.IncidentTypes, "Value", "Text"), new { @class = "form-control selectpicker", @id = "IncidentTypeId", @title = "Choose..." })
                        <span asp-validation-for="IncidentTypeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">ThirdParty</label>
                        <input type="text" asp-for="ThirdParty" class="form-control" />
                        <span asp-validation-for="ThirdParty" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Scenary</label>
                        @Html.DropDownListFor(model => model.ScenaryId, new SelectList(ViewBag.Scenaries, "Value", "Text"), new { @class = "form-control selectpicker", @title = "Choose..." })
                        @Html.ValidationMessageFor(model => model.ScenaryId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Threat</label>
                        @Html.DropDownListFor(model => model.ThreatId, new SelectList(ViewBag.Threats, "Value", "Text"), new { @class = "form-control selectpicker", @title = "Choose..." })
                        @Html.ValidationMessageFor(model => model.ThreatId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success mr-2">Save</button>
                <a type="button" class="btn btn-light" asp-action="Index" asp-controller="Incident">Cancel</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.selectpicker').selectpicker();
            // Функция для установки значений для Ambit
            function SetAmbit() {
                var selectedOriginId = $('#OriginId').val();

                $.ajax({
                    url: '/Incident/GetAmbits', // Подставьте URL вашего метода
                    type: 'POST',
                    data: { originId: selectedOriginId },
                    success: function (response) {
                        // Очистите текущие опции в Ambit select
                        $('#AmbitId').empty();
                        $('#IncidentTypeId').empty();

                        // Добавляем новые опции, полученные от сервера
                        $.each(response, function (index, item) {
                            $('#AmbitId').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });

                        // Обновите selectpicker, если вы используете Bootstrap Select
                        $('.selectpicker').selectpicker('refresh');
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }

            function SetIncidentType() {
                var selectedAmbitId = $('#AmbitId').val();

                $.ajax({
                    url: '/Incident/GetIncidentTypes', // Подставьте URL вашего метода
                    type: 'POST',
                    data: { ambitId: selectedAmbitId },
                    success: function (response) {
                        // Очистите текущие опции в Ambit select
                        $('#IncidentTypeId').empty();

                        // Добавляем новые опции, полученные от сервера
                        $.each(response, function (index, item) {
                            $('#IncidentTypeId').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });

                        // Обновите selectpicker, если вы используете Bootstrap Select
                        $('.selectpicker').selectpicker('refresh');
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
            // Вызывайте SetAmbit при изменении значения в OriginId
            $('#OriginId').change(SetAmbit);
            $('#AmbitId').change(SetIncidentType);


            // SetAmbit();
            // SetIncidentType();
        });

    </script>
}