@using Application.DTO
@model UserDto

    <hr />
<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.Username</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.UserName">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.FullName</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.FullName">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.Email</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Email">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.IsEnabled</b></label>
                <div class="col-sm-8">
                    <input type="checkbox" disabled @if (Model.IsEnabled)
                    {
                        <text>checked</text>
                    } >
                </div>
            </div>



            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.Created</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.CreatedBy">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.Created</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.Created.ToString("yyyy-MM-dd")">
                </div>
            </div>

            @if (Model.LastModifiedBy != null || Model.LastModifiedBy != 0)
            {
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label"><b>@Localization.LastModifiedBy</b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.LastModifiedBy">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label"><b>@Localization.LastModified</b></label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.LastModified?.ToString("yyyy-MM-dd")">
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">
            
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label"><b>@Localization.Roles</b></label>
                <div class="col-sm-8">
                    <ul>
                        @foreach (var role in Model.UserRoles)
                        {
                            <li>@role</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

