@using Application.DTO
@model LoginDto
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<title>@Localization.LoginPage</title>
<style>
    body {
        /* background-image: url('../assets/images/background.webp');
        background-size: cover; */
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative;
    }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            z-index: -1;
        }



    .login-form {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
        width: 500px;
    }

        .login-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    .form-check-label {
        margin-left: 5px;
    }

</style>

<div class="login-form">
    @if (TempData["ErrorAccount"] != null)
    {
        <div class="alert alert-danger">
            <strong>@Localization.Sorry!</strong> - @TempData["ErrorAccount"]
        </div>
    }
    <h2>@Localization.Login</h2>
    <form id="login-form" asp-action="Login" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username"><b>@Localization.Username</b></label>
            <input type="text" class="form-control" placeholder="@Localization.Input @Localization.Username" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="@Localization.Input @Localization.Password" asp-for="Password" id="password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePasswordVisibility()">
                <label class="form-check-label" for="showPassword">@Localization.Show @Localization.Password</label>
            </div>
            
        </div>

        <button type="submit">@Localization.Login</button>
        <div class="dropdown">
            <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @switch (Localization.languageState)
                {
                    case "en":
                        <img src="~/assets/images/flags/us.jpg" alt="Header Language" height="12">
                        <span class="align-middle"> English</span>
                        break;
                    case "ru":
                        {
                            <img src="~/assets/images/flags/russia.jpg" alt="Header Language" height="12">
                            <span class="align-middle"> Русский</span>
                            break;
                        }
                    case "ro":
                        <img src="~/assets/images/flags/ro.png" alt="Header Language" height="12"> <span class="align-middle"> Română</span>
                        break;
                        case "it":
                        <img src="~/assets/images/flags/italy.jpg" alt="Header Language" height="12"> <span class="align-middle"> Italy</span>
                        break;
                    default:
                        <img src="~/assets/images/flags/us.jpg" alt="Header Language" height="12">
                        <span class="align-middle"> English</span>
                        break;
                }
            </button>
            <div class="dropdown-menu" >
                <!-- Flag options here -->
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangeCultureLogin" asp-route-shortLang="ro">
                    <img src="~/assets/images/flags/ro.png" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Română</span>
                </a>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangeCultureLogin" asp-route-shortLang="ru">
                    <img src="~/assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Русский</span>
                </a>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangeCultureLogin" asp-route-shortLang="en">
                    <img src="~/assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> English</span>
                </a>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangeCultureLogin" asp-route-shortLang="it">
                    <img src="~/assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle"> Italy</span>
                </a>
            </div>
        </div>
    </form>
</div>

